<h1>********* Welcome to the longest word-game! *********</h1>
<p>Here is your grid</p>

<p>

  <%= @letters %>

</p>

<p>*****************************************************</p> 

<p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="">
  <input type="submit">
</form>